.site-branding {
        h1 {
            display: none;
            height: 0;
            width: 0;
        }
        .logo {
            height: 100px;        
            background-image: url("assets/images/logo.png");
            background-repeat: no-repeat;
            }   
    }
